@{
    ViewData["Title"] = "Contact";
}

<div class="jumbotron" style="background-color:lavender">
    <div class="container text-center">
        <h1> Online Estate Store </h1>
        <p> Find your ideal place to live </p>
    </div>
</div>

<div class="row">
    <br />
    <div class="col-md-4">
        <br /><br />
        <h4><span class="glyphicon glyphicon-map-marker"></span>Lviv, Ukraine</h4>
        <h4><span class="glyphicon glyphicon-phone"></span>Phone: + 380 00 00 00</h4>
        <h4><span class="glyphicon glyphicon-envelope"></span>Email: test@gmail.com</h4>
    </div>
    <div class="col-md-8">
        <div class="row">
            <iframe src ="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5146.261639157312!2d24.025557169311504!3d49.839999413809046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add717532cff9%3A0x1ea627f45b408179!2sIvan+Franko+National+University+of+Lviv!5e0!3m2!1sen!2sua!4v1527432082465" width="700" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>