@{
    ViewData["Title"] = "Contact";
}

<div class="jumbotron" style="background-color:lavender">
    <div class="container text-center">
        <h1> Online Estate Store </h1>
        <p> Find your ideal place to live </p>
    </div>
</div>

<div class="row">
    <br />
    <div class="col-md-4">
        <br /><br />
        <h4><span class="glyphicon glyphicon-map-marker"></span>Lviv, Ukraine</h4>
        <h4><span class="glyphicon glyphicon-phone"></span>Phone: + 380 00 00 00</h4>
        <h4><span class="glyphicon glyphicon-envelope"></span>Email: test@gmail.com</h4>
    </div>
    <div class="col-md-8">
        <div class="row">
            <img src="~/images/location.png" class="img-responsive" style="width:100%; height: 100%;" alt="Image">
        </div>
    </div>
    <br />
</div>