@using Estate.Models
@model AppartmentsListModel
@{

}
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron" style="background-color:lavender">
        <div class="container text-center">
            <h1> Online Estate Store </h1>
            <p> Find your ideal place to live </p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Go!</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">PAY IN ADVANCE</div>
                <div class="panel-body"><img src="~/images/1.jpg" class="img-responsive" style="width:320px; height: 220px;" alt="Image"></div>
                <div class="panel-footer">10% off</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">PAY IN ADVANCE</div>
                <div class="panel-body"><img src="~/images/2.jpg" class="img-responsive" style="width:320px; height: 220px;" alt="Image"></div>
                <div class="panel-footer">10% off</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">PAY IN ADVANCE</div>
                <div class="panel-body"><img src="~/images/3.jpg" class="img-responsive" style="width:320px; height: 220px;" alt="Image"></div>
                <div class="panel-footer">10% off</div>
            </div>
        </div>
    </div>
</div><br>